{#{% extends "main/header.html" %}#}
{##}
{#{% block content %}#}
{##}
{#  {% load crispy_forms_tags %}  #}
{#  #}
{#  <!--Password Reset Confirm-->#}
{#    <div class="container p-5">#}
{#	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>#}
{#		<hr>#}
{#        <p>Please enter your new password.</p>#}
{#        <form method="POST">#}
{#            {% csrf_token %}#}
{#            {{ form}}#}
{#            <button class="btn btn-primary" type="submit">Reset password</button>#}
{#        </form>#}
{#    </div>#}
{##}
{#{% endblock %}#}


{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">

        <h1>{% trans 'Enter new password' %}</h1>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form action="" method="post">{% csrf_token %}
            {{ form.new_password1.errors }}

                <label for="id_new_password1">{% trans 'New password:' %}</label>
                <input class="form-control" type="password" id="id_new_password1" name="new_password1" value="">

            {{ form.new_password2.errors }}
            <div class="form-group">
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                <input class="form-control" type="password" id="id_new_password2" name="new_password2" value="">
            </div>
            <div class="row">
                <div class="col-lg-l2">
                    <input type="submit" class="btn btn-default" value="{% trans 'Change my password' %}" />
                </div>
            </div>
        </form>



